*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Hanunoo", sans-serif;
}
body{
    background-color: rgb(23, 37, 41);
    margin: 100px;
    color: black;
}
.grid-container{
    display: flex;
    justify-content: center;
    align-items:stretch;
    flex-wrap: wrap;
}
.game{
    display: inline-block;
    margin: 50px;
    background-color: white;
    border-radius: 20px;
}
.game-image img{
    width: 300px;
    display: inline-block;
    border-radius: 20px;
}
.game-info {
    background-color: white;
    display: inline-block;
    width: 300px;
    border-radius: 20px;
    
}
.game-info p{
    font-size: 15px;
    margin: 20px;
    border-radius: 20px;
}